<!--START TESTIMONIAL-->
<section class="section pt-4" id="team">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h1 class="section-title text-center">Behind The People</h1>
        <div class="section-title-border mt-3"></div>
        <p class="section-subtitle text-muted text-center font-secondary pt-4">It is a long established fact that create category leading brand experiences a reader will be distracted by the readable content of a page when looking at its layout.</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-3 col-sm-6">
        <div class="team-box text-center hover-effect">
          <div class="team-wrapper">
            <div class="team-member">
              <img alt="" src="assets/images/team/img-1.jpg" class="img-fluid rounded">
            </div>
          </div>
          <h4 class="team-name">Frank Johnson</h4>
          <p class="text-uppercase team-designation">CEO</p>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="team-box text-center hover-effect">
          <div class="team-wrapper">
            <div class="team-member">
              <img alt="" src="assets/images/team/img-2.jpg" class="img-fluid rounded">
            </div>
          </div>
          <h4 class="team-name">Elaine Stclair</h4>
          <p class="text-uppercase team-designation">Designer</p>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="team-box text-center hover-effect">
          <div class="team-wrapper">
            <div class="team-member">
              <img alt="" src="assets/images/team/img-3.jpg" class="img-fluid rounded">
            </div>
          </div>
          <h4 class="team-name">Wanda Arthur</h4>
          <p class="text-uppercase team-designation">Developer</p>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="team-box text-center hover-effect">
          <div class="team-wrapper">
            <div class="team-member">
              <img alt="" src="assets/images/team/img-4.jpg" class="img-fluid rounded">
            </div>
          </div>
          <h4 class="team-name">Joshua Stemple</h4>
          <p class="text-uppercase team-designation">Manager</p>
        </div>
      </div>

    </div>
  </div>
</section>
<!--END TESTIMONIAL-->

<!--START TESTIMONIAL-->
<section class="section" id="testi">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h1 class="section-title text-center">Bernal Dental Reviews</h1>
        <div class="section-title-border mt-3"></div>
        <p class="section-subtitle text-muted text-center font-secondary pt-4">Explore the Testimonials from Our Valued Patients!</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-4">
        <div class="testimonial-box hover-effect mt-4">
          <div class="testimonial-decs">
            <p class="text-muted text-center mb-0">“I feel confident imposing change on myself. It's a lot more fun progressing than looking back. That's why scelerisque pretium dolor, sit amet vehicula erat pelleque need throw curve balls.” </p>
          </div>
          <h5 class="text-center text-uppercase pt-3">Ruben Reed - <span
              class="text-muted text-capitalize">Charleston</span></h5>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-box hover-effect mt-4">
          <div class="testimonial-decs">
            <p class="text-muted text-center mb-0">“Our task must be to free ourselves by widening our circle of compassion to embrace all living creatures Integer varius lacus non magna tempor congue natuasre the whole its beauty.” </p>
          </div>
          <h5 class="text-center text-uppercase pt-3">Michael P. Howlett - <span
              class="text-muted text-capitalize">Worcester</span></h5>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-box hover-effect mt-4">
          <div class="testimonial-decs">
            <p class="text-muted text-center mb-0">“I've learned that people will forget what you said, people will forget what you did, but people will never aliquam in nunc quis tincidunt forget how you vestibulum egestas them feel.” </p>
          </div>
          <h5 class="text-center text-uppercase pt-3">Theresa D. Sinclair - <span
              class="text-muted text-capitalize">Lynchburg</span></h5>
        </div>
      </div>
    </div>
  </div>
</section>
<!--END TESTIMONIAL-->
