 <!-- CONTACT FORM START-->
 <section class="section " id="contact">
   <div class="container">
     <div class="row">
       <div class="col-lg-8 offset-lg-2">
         <h1 class="section-title text-center">Get In Touch</h1>
         <div class="section-title-border mt-3"></div>
         <p class="section-subtitle text-muted text-center font-secondary pt-4">We encourage you to contact us with any questions or comments you may have. Please call our office or use the quick contact form below.</p>
       </div>
     </div>
     <div class="row">
       <div class="col-lg-4">
         <div class="mt-4 pt-4">
           <p class="mt-4"><span class="h5">Bernal Dental Group</span><br> <span class="text-muted d-block mt-2">4466 Black Ave Ste K<br />Pleasanton, California 94566<br />Phone: (925) 485-1172<br />Bernaldentalgroup@gmail.com</span></p>
           <p class="mt-4"><span class="h5">Working Hours:</span><br> <span class="text-muted d-block mt-2">9:00AM To
               6:00PM</span></p>
         </div>
       </div>
       <div class="col-lg-8">
         <div class="custom-form mt-4 pt-4">
           <div id="message"></div>
           <form >
             <div class="row">
               <div class="col-lg-6">
                 <div class="form-group mt-2">
                   <input name="name" id="name" type="text" class="form-control" placeholder="Full Name*" formControlName="name" [ngClass]="{ 'is-invalid': submitted && form['name'].errors }" required>
                 </div>
               </div>
               <div class="col-lg-6">
                <div class="form-group mt-2">
                  <input name="phones" id="phone" type="number" class="form-control" placeholder="Phone Number*" formControlName="phone" [ngClass]="{ 'is-invalid': submitted && form['phone'].errors }" required>
                </div>
              </div>
               
             </div>
             <div class="row">
              <div class="col-lg-12">
                <div class="form-group mt-2">
                  <input name="email" id="email" type="email" class="form-control" placeholder="Email*" [ngClass]="{ 'is-invalid': submitted && form['email'].errors }" formControlName="email" required>
                </div>
              </div>
             </div>
             <div class="row">
               <div class="col-lg-12">
                 <div class="form-group mt-2">
                   <textarea name="comments" id="comments" rows="4" class="form-control"
                     placeholder="Message..."  [ngClass]="{ 'is-invalid': submitted && form['description'].errors}" formControlName="description" required></textarea>
                 </div>
               </div>
             </div>
             <div class="row">
               <div class="col-lg-12 text-end">
                 <input type="button" id="submit" name="send" class="submitBnt btn btn-primary" value="Submit">
                 <div id="simple-msg"></div>
               </div>
             </div>
           </form>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- CONTACT FORM END-->
