 <!-- ABOUT START-->
 <section class="section bg-light" id="features">
  <div class="container">
    <div class="row vertical-content">
      <div class="col-lg-5">
        <div class="features-box">
          <h3>A digital web design studio creating modern & engaging online experiences</h3>
          <p class="text-muted web-desc">Separated they live in Bookmarksgrove right at the coast of the Semantics, a
            large language ocean. A small river named Duden flows by their place and supplies it with the necessary
            regelialia.</p>
          <ul class="text-muted list-unstyled mt-4 features-item-list">
            <li class="">We put a lot of effort in design.</li>
            <li class="">The most important ingredient of successful website.</li>
            <li class="">Sed ut perspiciatis unde omnis iste natus error sit.</li>
            <li class="">Submit Your Organization.</li>
          </ul>
                 </div>
      </div>
      
    </div>
  </div>
</section>
 <!-- ABOUT END-->

